body {
    padding-top: 5rem;
}

/* Hide default backdrop if a navbar has class fixed-top */
.navbar-fixed-top-offcanvas.offcanvas-backdrop::before {
    content: none;
}

/* Navbar fixed-top z-index  */
/*.navbar.fixed-top {
    z-index: 1031;
}
*/

/* Place backdrop before navbar-toggler instead to display between navbar and offcanvas */
.navbar-fixed-top-offcanvas .navbar.fixed-top::before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: visibility .15s linear, opacity .15s linear;
}

/*  Show backdrop via .offcanvas-backdrop body class */
.navbar-fixed-top-offcanvas.offcanvas-backdrop .navbar.fixed-top::before {
    visibility: visible;
    opacity: 1;
}

/* Expand-sm */
@media (min-width: 576px) {

    .navbar-expand-sm .offcanvas .offcanvas-header {
        display: none;
    }

    .navbar-expand-sm .offcanvas {
        position: inherit;
        bottom: 0;
        flex-grow: 1;
        visibility: visible !important;
        transition: none;
        transform: none;
        border-left: none;
        border-right: none;
        z-index: inherit;
    }

    .navbar-expand-sm .offcanvas .offcanvas-body {
        flex-grow: 0;
        padding: 0;
        overflow-y: visible;
        display: flex;
    }

    .navbar-expand-sm .offcanvas-bottom {
        border-top: none;
        height: auto;
    }

    /* Override background-color in case bg-* color classes are used */
    .navbar-expand-sm .offcanvas,
    .navbar-expand-sm .offcanvas .offcanvas-body {
        background-color: transparent !important;
    }

}

/* Expand-md */
@media (min-width: 768px) {

    .navbar-expand-md .offcanvas .offcanvas-header {
        display: none;
    }

    .navbar-expand-md .offcanvas {
        position: inherit;
        bottom: 0;
        flex-grow: 1;
        visibility: visible !important;
        transition: none;
        transform: none;
        border-left: none;
        border-right: none;
        z-index: inherit;
    }

    .navbar-expand-md .offcanvas .offcanvas-body {
        flex-grow: 0;
        padding: 0;
        overflow-y: visible;
        display: flex;

    }

    .navbar-expand-md .offcanvas-bottom {
        border-top: none;
        height: auto;
    }

    /* Override background-color in case bg-* color classes are used */
    .navbar-expand-md .offcanvas,
    .navbar-expand-md .offcanvas .offcanvas-body {
        background-color: transparent !important;
    }

}

/* Expand-lg */
@media (min-width: 992px) {

    .navbar-expand-lg .offcanvas .offcanvas-header {
        display: none;
    }

    .navbar-expand-lg .offcanvas {
        position: inherit;
        bottom: 0;
        flex-grow: 1;
        visibility: visible !important;
        transition: none;
        transform: none;
        border-left: none;
        border-right: none;
        z-index: inherit;
    }

    .navbar-expand-lg .offcanvas .offcanvas-body {
        flex-grow: 0;
        padding: 0;
        overflow-y: visible;
        display: flex;
    }

    .navbar-expand-lg .offcanvas-bottom {
        border-top: none;
        height: auto;
    }

    /* Override background-color in case bg-* color classes are used */
    .navbar-expand-lg .offcanvas,
    .navbar-expand-lg .offcanvas .offcanvas-body {
        background-color: transparent !important;
    }

}

/* Expand-xl */
@media (min-width: 1200px) {

    .navbar-expand-xl .offcanvas .offcanvas-header {
        display: none;
    }

    .navbar-expand-xl .offcanvas {
        position: inherit;
        bottom: 0;
        flex-grow: 1;
        visibility: visible !important;
        transition: none;
        transform: none;
        border-left: none;
        border-right: none;
        z-index: inherit;
    }

    .navbar-expand-xl .offcanvas .offcanvas-body {
        flex-grow: 0;
        padding: 0;
        overflow-y: visible;
        display: flex;
    }

    .navbar-expand-xl .offcanvas-bottom {
        border-top: none;
        height: auto;
    }

    /* Override background-color in case bg-* color classes are used */
    .navbar-expand-xl .offcanvas,
    .navbar-expand-xl .offcanvas .offcanvas-body {
        background-color: transparent !important;
    }

}

/* Expand-xxl */
@media (min-width: 1400px) {

    .navbar-expand-xxl .offcanvas .offcanvas-header {
        display: none;
    }

    .navbar-expand-xxl .offcanvas {
        position: inherit;
        bottom: 0;
        flex-grow: 1;
        visibility: visible !important;
        background-color: transparent;
        transition: none;
        transform: none;
        border-left: none;
        border-right: none;
        z-index: inherit;
    }

    .navbar-expand-xxl .offcanvas .offcanvas-body {
        flex-grow: 0;
        padding: 0;
        overflow-y: visible;
        display: flex;
    }

    .navbar-expand-xxl .offcanvas-bottom {
        border-top: none;
        height: auto;
    }

    /* Override background-color in case bg-* color classes are used */
    .navbar-expand-xxl .offcanvas,
    .navbar-expand-xxl .offcanvas .offcanvas-body {
        background-color: transparent !important;
    }

}
