
/* Expand-sm */
@media (min-width: 576px) {

    .navbar-expand-sm .offcanvas .offcanvas-header {
        display: none;
    }

    .navbar-expand-sm .offcanvas {
        position: inherit;
        bottom: 0;
        flex-grow: 1;
        visibility: visible !important;
        transition: none;
        transform: none;
        border-left: none;
        border-right: none;
        z-index: inherit;
    }

    .navbar-expand-sm .offcanvas .offcanvas-body {
        flex-grow: 0;
        padding: 0;
        overflow-y: visible;
        display: flex;
    }

    .navbar-expand-sm .offcanvas-bottom {
        border-top: none;
        height: auto;
    }

    /* Override background-color in case bg-* color classes are used */
    .navbar-expand-sm .offcanvas,
    .navbar-expand-sm .offcanvas .offcanvas-body {
        background-color: transparent !important;
    }

}

/* Expand-md */
@media (min-width: 768px) {

    .navbar-expand-md .offcanvas .offcanvas-header {
        display: none;
    }

    .navbar-expand-md .offcanvas {
        position: inherit;
        bottom: 0;
        flex-grow: 1;
        visibility: visible !important;
        transition: none;
        transform: none;
        border-left: none;
        border-right: none;
        z-index: inherit;
    }

    .navbar-expand-md .offcanvas .offcanvas-body {
        flex-grow: 0;
        padding: 0;
        overflow-y: visible;
        display: flex;

    }

    .navbar-expand-md .offcanvas-bottom {
        border-top: none;
        height: auto;
    }

    /* Override background-color in case bg-* color classes are used */
    .navbar-expand-md .offcanvas,
    .navbar-expand-md .offcanvas .offcanvas-body {
        background-color: transparent !important;
    }

}

/* Expand-lg */
@media (min-width: 992px) {

    .navbar-expand-lg .offcanvas .offcanvas-header {
        display: none;
    }

    .navbar-expand-lg .offcanvas {
        position: inherit;
        bottom: 0;
        flex-grow: 1;
        visibility: visible !important;
        transition: none;
        transform: none;
        border-left: none;
        border-right: none;
        z-index: inherit;
    }

    .navbar-expand-lg .offcanvas .offcanvas-body {
        flex-grow: 0;
        padding: 0;
        overflow-y: visible;
        display: flex;
    }

    .navbar-expand-lg .offcanvas-bottom {
        border-top: none;
        height: auto;
    }

    /* Override background-color in case bg-* color classes are used */
    .navbar-expand-lg .offcanvas,
    .navbar-expand-lg .offcanvas .offcanvas-body {
        background-color: transparent !important;
    }

}

/* Expand-xl */
@media (min-width: 1200px) {

    .navbar-expand-xl .offcanvas .offcanvas-header {
        display: none;
    }

    .navbar-expand-xl .offcanvas {
        position: inherit;
        bottom: 0;
        flex-grow: 1;
        visibility: visible !important;
        transition: none;
        transform: none;
        border-left: none;
        border-right: none;
        z-index: inherit;
    }

    .navbar-expand-xl .offcanvas .offcanvas-body {
        flex-grow: 0;
        padding: 0;
        overflow-y: visible;
        display: flex;
    }

    .navbar-expand-xl .offcanvas-bottom {
        border-top: none;
        height: auto;
    }

    /* Override background-color in case bg-* color classes are used */
    .navbar-expand-xl .offcanvas,
    .navbar-expand-xl .offcanvas .offcanvas-body {
        background-color: transparent !important;
    }

}

/* Expand-xxl */
@media (min-width: 1400px) {

    .navbar-expand-xxl .offcanvas .offcanvas-header {
        display: none;
    }

    .navbar-expand-xxl .offcanvas {
        position: inherit;
        bottom: 0;
        flex-grow: 1;
        visibility: visible !important;
        background-color: transparent;
        transition: none;
        transform: none;
        border-left: none;
        border-right: none;
        z-index: inherit;
    }

    .navbar-expand-xxl .offcanvas .offcanvas-body {
        flex-grow: 0;
        padding: 0;
        overflow-y: visible;
        display: flex;
    }

    .navbar-expand-xxl .offcanvas-bottom {
        border-top: none;
        height: auto;
    }

    /* Override background-color in case bg-* color classes are used */
    .navbar-expand-xxl .offcanvas,
    .navbar-expand-xxl .offcanvas .offcanvas-body {
        background-color: transparent !important;
    }

}